.fab-drawer-wrapper
{
    height: 80px;
    width: 147px;
    opacity: 0.8;
    position: absolute;
    right: 95px;
    z-index: -1;
    display: flex;
    
}

.fab-text
{
    margin: auto;
    font-size: 12px;
    color: white;
}

