
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}


section.contact-cards {
    font-family:$font-lighter;
    font-weight:500;
    margin:100px 8%;
    text-align:center;

    h2 {
        color:$darkGreen;
        font-size:28px;
        margin-bottom:20px;
    }

    

    button {
        width:150px;
        background-color:$grey;
        color:white;
        border:none;
        outline:none;
        padding:12px 20px;
        border-radius:2px;
    }


    div {
        color:white;

        article {
            padding:50px;
            display:flex;
            align-items:center;
            justify-content:space-around;
            margin-bottom:40px;
            h3 {
                font-size:25px;
                order:2;
            }

            img {
                order:1;
                width:90px;
                
            }
        }
    }

   .consultation {
       background-color:$darkGreen;
   }

   .onsite {
    background-color:$green;
   }
   .installation {
    background-color:$lightBlue;
   }

   


}



@media screen and (min-width:768px)  {

    section {

        h2 {
            font-size:35px !important;
            margin-bottom:70px !important;
        }
        div {
            display:flex;
            justify-content:space-between;
            article {
                width:31%;
                flex-direction:column;
                align-items:center;
               
                h3 {
                    order:1 !important;
                    font-size:20px;
                    margin-bottom:40px;
                }
                img {
                    width:120px;
                    margin-bottom:20px;
                    order:2 !important;
                }
            }
        }
    }

}