*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@mixin formfield {
    background-color:$white;
                border:none;
                outline:none;
                padding:8px;
                
}



section.contact {

    font-size:$text-size--pc;
    font-family:$font-lighter;
    background-color:$lightGreen;
    padding:100px 8%;
    display:flex;
    justify-content:space-between;
    

    form {
        flex-basis:47%;
        font-size:$text-size--pc;
        font-family: $font-lighter;
        color:$grey;
        padding-right:90px;
        flex-grow:1;
        div.row {
            display:flex;
            justify-content:space-between;
        div.field {
            flex-basis:45%;
            display:flex;
            flex-direction: column;
            margin:10px;
        }

        div.message {
            flex-basis:100%;
        }
            

            label {
                margin-bottom:3px;
            }
            input{
                @include formfield;
                border-bottom:solid 2px $grey;
               
                
            }

            textarea {
                @include formfield;
                
            }

            select {
                @include formfield;
                
                
            }
            
        }

        div.submit {
            display:flex;
            justify-content: center;
            margin:20px;

            input[type="submit"] {
                width:100px;
                background-color:$grey;
                color:white;
                border:none;
                outline:none;
                padding:12px 20px;
                border-radius:2px;
            }
        }
        
    }


    article  {
        flex-basis:50%;
        flex-grow:1;
        display:flex;
        flex-direction:column;
        
        
        div.map {
            
            margin-top:25px;
            margin-bottom:20px;
        }
        
        div.contact-info {
            ul{
                li {
                    color:$darkGreen;
                    padding:5px;
                }
            }
        }
    }

}


@include tb {
    section.contact {
        flex-direction:column;
        padding:0px;
        form {
            padding:30px 10px;
            div.row {
                flex-direction:column;
               
            }
        }


        article {
            display:none;
            padding:0px 10px;

            div.map {
                margin:20px 0px;
            }
        }
    }
}