.contact-cards-wrapper
{
    height: auto;
    font-family: $font-lighter;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0px;
}

.cardHeader,
.contact-tel
{
    font-size: 25px;
    color: $darkGreen;
    margin: 20px 0px;
    text-align: center;


    @include sp
    {
        font-size: 20px;
    }
    
}

.contact-tel
{
    color: $grey;
    margin: auto;
}

.contact-cards
{
    display: flex;
    justify-content: center;

    @include sp
    {
        flex-direction: column;
        margin: auto;
    }
}

.card-button
{
    width: 135px;
    height: 47px;
    font-size: 25px;
    background-color: $grey;
    border: 0px;
    color: $white;
    margin: 30px auto;

    @include sp
    {
        width: 110px;
        height: 35px;
        font-size: 15px;
    }
}

.contact-info
{
    display: flex;
    flex-direction: column;
}