*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

@mixin formfield {
    background-color:$white;
                border:none;
                outline:none;
                padding:8px;
                
}



section.contact {

    font-size:$text-size--pc;
    font-family:$font-lighter;
    background-color:$lightGreen;
    padding:70px 8%;
    display:flex;
    justify-content:space-between;
    

    form {
        flex-basis:48%;
        font-size:$text-size--pc;
        font-family: $font-lighter;
        color:$grey;
        
        div.row {
            display:flex;
            justify-content:space-between;
        div.field {
            flex-basis:45%;
            display:flex;
            flex-direction: column;
            margin:15px 10px;
        }

        div.message {
            flex-basis:100%;
        }
            

            label {
                margin-bottom:3px;
            }
            input{
                @include formfield;
                border-bottom:solid 2px $grey;
               
                
            }

            textarea {
                @include formfield;
                
            }

            select {
                @include formfield;
                
                
            }
            
        }

        div.submit {
            display:flex;
            justify-content: center;
            margin:20px;

            input[type="submit"] {
                width:100px;
                background-color:$grey;
                color:white;
                border:none;
                outline:none;
                padding:12px 20px;
                border-radius:2px;
            }
        }
        
    }


    article.info {
        flex-basis:50%;
        display:flex;
        flex-direction:column;
        margin:0px;
        
        div.map {
            margin-top:-70px;
        }
        
        div{
            
            ul.buissInfo{
                margin-top:30px;
               
                li {
                   
                    color:$darkGreen;
                    padding:5px;
                    font-weight:500;
                    font-size:18px;
                }
            }
        }
    }

}

@media screen and (max-width:950px) {

  
  div.map {
      width:100px;
      margin-right:50px;
  }
}
@media screen and (max-width:768px) {
    section.contact {
        flex-direction:column !important;
        padding:0px;
        form {
            padding:30px 10px;
            div.row {
                flex-direction:column;
               
            }
        }


        article.info {
            display:none;
            padding:0px 10px;

            
        }
    }
}
