
.headerComponent{
    
    .HomeHeader{
        background: $overlay url('../images/homebg.png') no-repeat bottom ;background-size: cover,cover;
        h1{
            top: 18%;
            left: 16%;

            @include pcandtb{
                top: 14%;
                left: 27%;
            }
        }

    }

    .faqHeader{
        background: $overlay url('../images/faqbg.png') no-repeat bottom ;background-size: cover,cover;
        h1{
            top: 18%;
            left: 27%;
            @include pcandtb{
                top: 14%;
                left: 27%;
            }
        }
    }

    .ProductsHeader{
        padding-bottom: 6%;
        padding-top: 6%;
        background: $overlay url('../images/productsbg.png') no-repeat ;background-size: cover,cover;
        .box{
            width: 100%;
            text-align: center;
        }
        .box-container{
            padding-bottom: 6%;
            padding-top: 6%;
        }
        
        h1{
            position: initial;
            text-align: center;
            width: 100%;
        }
    }

    .contactHeader{
        background: $overlay url('../images/contactbg.png') no-repeat bottom ;background-size: cover,cover;
        h1{
            top: 18%;
            left: 27%;
            @include pcandtb{
                top: 14%;
                left: 27%;
            }
        }
    }

    .eviHeader{
        background: $overlay url('../images/incentivebg.png') no-repeat top ;background-size: cover,cover;

        h1{
            width: max-content;
            top: 18%;
            left: 27%;
            @include pcandtb{
                top: 14%;
                left: 27%;
            }
        }

    }

    
        hr{
            border: solid 2px $yellow;
            background-color: $yellow;
            margin-top: -5px ;
        }
        h1{
            position: absolute;
            font-size: 20px;
            line-height: 28px;
            color: $white;
            margin: 0;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            text-align: left;
            width: min-content;

            .box{
                width: 77.5%;
                @media (max-width: 325px) {
                    width: 86.5%;
              }
            }
        }
        .box-container{
            padding-bottom: 13%;
            padding-top: 11%;
            height: 100px;
        }
        .box{
            position: relative;
            width: 67.5%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .contentDesktop{
            display: none;
            padding: 0%!important;
            position: absolute;
            left: 37%;
            bottom: 6%;
        }

        .contentPhone{
            text-align: center;
            line-height: 1.43;
            color: $grey;
            padding: 7% 10%;
        }

        @include sp{
            .contentDesktop{
                display: none;
            }
            .second-fp{
                display: none;
            }
        }

        @include tb{

            .box-container{
                padding-bottom: 13%;
                padding-top: 6%;
            }
            .box-container{
                height: fit-content;
            }
            svg{
                width: 65%;
                height: auto;
            }
        }

        @include pc{
            .box-container{
                padding-bottom: 13%;
                padding-top: 6%;
            }
            .box-container{
                height: fit-content;
            }
            svg{
                width: 65%;
                height: auto;
            }

            .contentPhone{
                display: none;
            }
            .contentDesktop{
                display: inline;
                color: $white;
                font-size: 16px;
                padding: 10%;
                p{
                    width: 85%;
                    margin-left: 2%;
                    margin-bottom: 0%;
                    margin-top: 2%;
                    text-align: justify;
                }
                .second-fp{
                    margin-top: 2%;
                }
            }

            h1{
                font-size: 32px;
                line-height: 1.2;
                letter-spacing: 1px;
                margin-bottom: -10px;
            }
        }

        @media (min-width: 1091px) {
            h1{
                font-size: 42px;
            }
        }

}
