
$sp: 415px; 
$tb: 768px;
$pc: 980px; 

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin tb {
  @media (min-width: $sp) and (max-width: $pc) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin pcandtb{
  @media (min-width: $tb) {
    @content;
  }
}

@mixin row {
    display: flex;
    flex-direction: row;
}