



//styles for toggleicon button

div.toggle-button-line {
    width:25px;
    height:3px;
    background-color:$darkGreen;
    margin:6px 0px;
}

div.toggle-button {
    
    padding:0px;
    
}




//styles for sidebar

nav.sidebar {
    width:400px !important;
    position:fixed;
    top:80px;
    left:0px;
    background-color:$white;
    font-size:$text-size--sp;
    font-family:$font-lighter;
    font-weight:500;
    height:100vh;
    z-index:20;

    ul {
        list-style-type:none;
        padding:0px;
        margin:0px;

        li {
            padding:10px 30px;

            a {
                color:$darkGreen;
                text-transform:uppercase;
            }
              
            a:hover {
                color:$yellow
            }
        }
    }

    

}




a {
    text-decoration:none;
}


//styles for the navigation bar

header {
    background-color:$white;
    font-size:$text-size--pc;
    font-family:$font-lighter;
    font-weight:500;
    
}

div.top-bar {
    @include row;
    justify-content: space-between;
    align-items:flex-end;
    margin-left:7%;
    padding-top:25px;
    ul.info {
        list-style-type:none;
        padding:0;
        margin:0;
        display:flex;
        padding-bottom:20px;
    
        a {
            color:$darkGreen;
            padding:30px;
           
        }
    }

    
    
}



 
div.main {
    
    @include row;
    margin-left:7%;
    border-top:solid 2px $darkGreen;
    
    div.icon {
        display:none;
    }
    
    ul.menu {
        @include row;
        list-style-type:none; 
        padding:20px 0px;
        
        
        
         a{
             color:$darkGreen;
             text-transform:uppercase;
             padding:0px 50px 20px 0px;
             
         }
    
         li:first-of-type a{
                margin-left:20px;
         }


         
        .active:before {
            
            
            content: "";
            position: absolute;
            top:98px;
            width: 80px;
            height:5px; 
            background-color:$yellow;
            
            
        }

         .first:before {
            margin-left:-20px;
        }
    }

    div.logo {
        display:none;
    }
}



//media query for small devices
@media only screen and (max-width:900px) 
 {
    div.top-bar {
       display:none;
    }

    div.main {
        background-color:$white;
        padding:7px 20px 0px 15px;
        justify-content: space-between;
        align-items: center;
        border-top:none;
        margin-left:0px;
        position:sticky;
        width:100%;
        top:0px;
        z-index:20;
       
        div.icon {
            display:block;
        }

        nav.items {
            display:none;
        }      

        

        div.logo {
            display:block;
            margin-right:5%;
            max-width: 100%;
            height: auto;
            
        }
      }
}


