$base__space-unit: 1.5rem;


// Colors
// PRIMARY 
$green: #3CAA9C;
$grey:#433f41;
$white: #fff;

//SECONDARY
$greyLight: #E9E9EA;
$darkGreen:#318087;
$lightGreen:#e6f4f4;
// Tertiary
$yellow: #F6AB3E;
$blue: #1C3B6A;


$text-color: #605959;


// Typography
$font-regular: 'AcuminRegular';
$font-lighter: 'AcuminLighter';
$font-medium: 'AcuminMedium';
$heading-size--pc: 65px;
$heading-size--sp: 30px;
$title-size--pc: 50px;
$title-size--sp: 22px;
$subtitle-size--pc: 20px;
$subtitle-size--sp: 17px;
$text-size--pc: 16px;
$text-size--sp: 15px;



// overlay

$overlay: linear-gradient(90deg, rgba(172,242,233,.77) 0%, rgba(68,209,191,.77) 21%, rgba(112,188,179,.77)),$green;
