$base__space-unit: 1.5rem;


// Colors
// PRIMARY 
$green: #3CAA9C;
$grey: #433F41;
$white: #fff;

//SECONDARY


// Tertiary
$yellow: #F6AB3E;
$blue: #1C3B6A;


$text-color: #605959;


// Typography
$font-main: 'Acumin',sans-serif;
$font-heading: 'Kohinoor',sans-serif;
$heading-size--pc: 65px;
$heading-size--sp: 30px;
$title-size--pc: 50px;
$title-size--sp: 22px;
$subtitle-size--pc: 35px;
$subtitle-size--sp: 17px;
$text-size--pc: 20px;
$text-size--sp: 15px;

