$base__space-unit: 1.5rem;


// Colors
// PRIMARY 
$green: #3CAA9C;
$grey: #433F41;
$white: #fff;

//SECONDARY
$greyLight: #E9E9EA;
$darkGreen:#318087;

// Tertiary
$yellow: #F6AB3E;
$blue: #1C3B6A;


$text-color: #605959;


// Typography
$font-main: 'Acumin';
$font-content: 'Acumin';
$heading-size--pc: 65px;
$heading-size--sp: 30px;
$title-size--pc: 50px;
$title-size--sp: 22px;
$subtitle-size--pc: 35px;
$subtitle-size--sp: 17px;
$text-size--pc: 16px;
$text-size--sp: 15px;

